<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library Information Management</title>
    <link href="styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <style>
        body {

            max-width:80%;
            margin:auto;
            font-family: 'Rubik', sans-serif;

        }
        .container1{
            display:flex;
            justify-content: space-between;

        }


        .nav-link:hover {
          background-color:#fd7e14;
          color:white;
          transition: background-color 0.3s ease;
      }


    </style>
</head>
<body>
    <div class="container1">
        <h2>Library Information Management System</h2>
        <div class="contact-info">CALL US NOW:<br> +84-0899223595 </div>
    </div>

    <!--    navbar -->
      <nav class="nav bg-dark mb-4 nav-justified rounded">
          <a class="nav-link link-light p-3" href="#">Home</a>
          <a class="nav-link link-light p-3" href="#">Gallery</a>
          <a class="nav-link link-light p-3" href="#">About</a>
          <a class="nav-link link-light p-3" href="/contact">Contact</a>
      </nav>

    <!-- Search Bar -->
    <div class="row mb-4">
        <div class="col-md-8 offset-md-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for books...">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">Search</button>
            </div>
          </div>
        </div>
    </div>


    <img src="img/library-shelf.jpg" alt="library-pic1">
    <form method="POST" action="/save">
        {%  csrf_token %}
{#        this is security token  prevent cross site request forgery #}
        <label>Student name</label>
        <input type="text" name="student_name">
        <button type="submit">Save</button>

    </form>
</body>
</html>